        @import url('https://fonts.googleapis.com/css?family=Ubuntu');
        body {
            margin: 0;
            padding: 0;
            width: 100%;
            font-family: 'Ubuntu', sans-serif;
        }
        
        img {
            float: left;

            border:4px solid white;
            margin:5px;
        }
        
              
        .container {
            max-width: 1980px;
            border: 3px solid black;
            margin: 0 auto;
        }
        
        .section {
            border: 1px solid #ddd;
            min-height: 800px;
            background-color: #fff;
        }
        
        #nav {
            float: center;
            margin-top: 2px;
            width: 20px;
        }
        
        #nav ul {
            list-style: none;
            margin: 0 auto;
            display: block;
        }
        
        #nav li {
            float: left;
            padding: 6px;
            margin: 2px;
            background-color: black;
        }
        
        #nav li a {
            text-decoration: none;
            font-size: 1em;
            color: white;
        }
        
        #nav li a.active {
            border-bottom: 2px solid yellow;
            color: yellow;
        }
        
        #nav li a:hover {
            color: red;
        }
        
        .clear {
            clear: both;
        }
        
        .wrap {
            background-color: rgb(200, 200, 200);
            background-color: rgba(200, 200, 200, 0.5);
            border-radius: 20px;
            padding: 30px;
            margin: 40px auto;
            width: 70%;
        }
        
        #section1 .wrap {
            margin-top: 12px
        }
        
        #section1 {
            background: url('i2electronic.github.io/logo/3.jpg');
            background-size: cover;
        }
        
        #section2 {
            background: url('i2electronic.github.io/logo/iot-kzLH--621x414@LiveMint.jpg');
            background-size: cover;
        }
        #section3 {
            background: url('i2electronic.github.io/logo/9950714.jpg');
            background-size: cover;
        }
         #section4 {
            background: url('i2electronic.github.io/logo/bulb.jpg');
            background-size: cover;
        }
        #section5 {
            background: url('i2electronic.github.io/logo/fgh.jpg');
            background-size: cover;
        }
        #section6 {
            background: url('i2electronic.github.io/logo/zfdg.jpg');
            background-size: cover;
        }
      
        
        #footer {
            background-color: #hhh;
            color: white;
            padding: 20px;
        }
        
        .col-1 {
            width: 66%;
            display: inline-white;
            margin-bottom: 20px;
        }
        
        .col-2 {
            width: 33%;
            display: inline-white;
        }
